
 {% extends 'base.html' %}
{% load static %}
{% block content %}
     {% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}

<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-7">
						<!-- Billing Details -->
						<div class="billing-details">
							<div class="section-title">
								<h3 class="title">LOGIN</h3>
							</div>
  <form method="post" action=""  enctype="multipart/form-data" >
       {% csrf_token %}


  <label for="lname">Username</label>
    <input type="text" id="lname" name="username" style="width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;" placeholder="Your username.." required>

  <label for="lname">Password</label>
    <input type="password"  title="Eight or more characters" name="password" style="width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;" placeholder="Your password.." required id="pw" >
                                   <span id="msg3" style="color: red"></span>


    <input type="submit" style="width: 100%;background-color: #4CAF50;color: white;padding: 14px 20px;margin: 8px 0;border: none;border-radius: 4px;cursor: pointer;" value="Submit">
  </form>
						</div>
					
					</div>

			
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- NEWSLETTER -->
		<div id="newsletter" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /NEWSLETTER -->

 {% endblock %}

